body{
    text-align: center;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    color: aqua;
    font-size: 40px;
}
#meuCanvas{
    border-width: 6px;
    border-radius: 4px;
    border-color: yellow;
    border-style: ridge;
    background-color: white;
}
div{
    margin: 10px;
    color: aquamarine;
    font-size: 20px;
}